.ourstory{
    background-color: #062B35;
    width: 100%;
    display: block;
    // height:400px;
    
    .skewedphotos{
        display: flex;
        margin-left: 23%;
        margin-top: 10%;
        height: 400px;
        .photo1 {
            background-color: green;
            height: 238px;
            // margin: 50px;
            width: 214px;
            transform: rotate(-10deg);
        }
        .photo2 {
            background-color: orange;
           
            height: 238px;  
            // margin: 50px;
            width: 214px;
            // transform: ;
            transform: translate(0,50px) rotate(10deg);
        }
    }
    .copy{
        display: grid;
        // width:30%;
        color:white;
        
        h4{
            font-size: 2em;
            
        }
        p{
            font-size: 1.3em;
        }
    }
}
.latest{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.jewels1 {
    background-color: red;
    display: flex;
    height: 238px;
    margin: 5%;
    width: 214px;
}
.jewels3 {
    background-color: orange;
    display: flex;
    height: 238px;
    margin: 5%;
    width: 214px;
}
.jewels2 {
    background-color: yellow;
    display: flex;
    height: 238px;
    margin: 5%;
    width: 214px;
}
.jewels4 {
    background-color: blue;
    display: flex;
    height: 238px;
    margin: 5%;
    width: 214px;
}