.ourstory{
    background-color: #062B35;
    width: 100%;
    display: block;
    // height:400px;
    
    .skewedphotos{
        display: flex;
        justify-content: center;
        margin-top: 10%;
        height: 400px;
        .photo1 {
            background-color: green;
            height: auto; 
            width: auto; 
            max-width: 340px; 
            max-height: 300px;
            transform: translate(0,50px) rotate(-10deg);
        }
        .photo2 {
            background-color: orange;
            height: auto; 
            width: auto; 
            max-width: 340px; 
            max-height: 300px;
            transform: translate(0,50px) rotate(10deg);
        }
    }
    .copy{
        display: grid;
        // width:30%;
        color:white;
        
        
        h4{
            font-size: 2em;
            
        }
        p{
            font-size: 1.3em;
        }
    }
}
