/*
=========================
Find Gemstone General Styline
=========================
*/

@media screen and (min-width: $desktop) {
  .find-your-gem.after-search-results {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }
}

/*
=========================
Find Gemstone Search Styling
=========================
*/

.find-gemstone-search {
  box-sizing: border-box;
  padding: 120px 0;
  height: 60vh;

  color: $brand-colour-evergreen;
  border: $find-gemstone-base-spacing solid $brand-colour-bright-green;

  h1 {
    margin: 0;
    margin-bottom: 40px;

    font-weight: normal;
    line-height: 1.5em;
    text-align: center;
  }

  form {


    > div {

      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      margin: 10px;
      white-space: nowrap;

      font-family: 'Avenir LT Book', sans-serif;

      &:nth-of-type(1) {
        margin-left: $find-gemstone-base-spacing * 3;
        input {

          max-width: 150px;
        }
      }

      &:nth-of-type(2) {
        margin-left: $find-gemstone-base-spacing * 2;
      }

      div {
        position: relative;
      }
    }

    input {
      width: 100%;
      max-width: 200px;
      margin-left: $find-gemstone-input-margin;

      background-color: transparent;
      border: none;
      border-bottom: 1px solid $brand-colour-bright-green;
      text-align: center;
    }
  }

  button {
    display: block;
    width: 181px;
    margin: 60px auto 30px;
    padding: $find-gemstone-base-spacing;

    background-color: black;
    border: 0px solid transparent;
    color: white;
    font-family: 'Avenir LT Std', sans-serif;
  }
}

@media screen and (min-width: $tablet) {
  .find-gemstone-search {
    border: $find-gemstone-base-spacing * 2 solid $brand-colour-bright-green;
  }
}

@media screen and (min-width: $desktop) {
  .find-your-gem.after-search-results {

    .find-gemstone-search {
      padding: 200px 10%;
      height: 80vh;

      border: $find-gemstone-base-spacing * 3 solid $brand-colour-bright-green;

      form > div {
        justify-content: flex-start;

        margin-left: 0;

        &:nth-of-type(1) {
          margin-left: 0;
        }
  
        &:nth-of-type(2) {
          margin-left: 0;
        }
      }
    }
  }
}

/*
=========================
Dropdown Styling
=========================
*/

 .find-gemstone-search {

  .dropdown-position-holder {
    &:hover,
    &:active,
    &:focus {

      .find-gem-dropdown {
        display: block;
      }

      .find-tag-dropdown {
        display: flex;
        flex-flow: row wrap;
    
        li {
          margin: 2px;
          margin-right: 5px;
          padding: 0 5px;
          
          background-color: $nav-grey;
          border: 0px solid transparent;
          border-radius: 5px;
          font-size: 0.75em;
        }

        .selected-tag {
          background-color: $brand-colour-evergreen;
          color: white;
        }
      }
    }
  }

  .find-gem-dropdown {
    z-index: 1;
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    left: $find-gemstone-input-margin;
    
    width: 200px;
    padding: 10px;
    margin: 0;

    border: 1px solid $brand-colour-bright-green;
    border-top: 2px solid $brand-colour-bright-green;
    background-color: white;
  }
}

// special dropdown size for super small screens
@media screen and (max-width: 365px) {
  .find-gemstone-search {
    .find-gem-dropdown {
      width: 150px;
    }
  }
}

/*
=========================
Find Gemstone Results Styling
=========================
*/

.find-gemstone-results {
  box-sizing: border-box;

  h2 {
    text-align: center;
  }

  .display-product-results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $find-gemstone-base-spacing * 2;
  
    padding: $find-gemstone-base-spacing;
  }

  .product-result {
    position: relative;
  }

  a {
    color: $brand-colour-evergreen;

    img {
      border: 0px solid transparent;
      border-radius: 5px;
    }

    h3 {
      margin-bottom: $find-gemstone-base-spacing * 3;
      font-family: 'Avenir LT Std', sans-serif;
    }

    p {
      position: absolute;
      bottom: 0;

      margin: 0;

      color: $brand-colour-green;

      &:before {
        content: '$';
      }

      &:after {
        content: ' CAD';
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .find-gemstone-results {
    .display-product-results {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: $larger-tablet) {
  .find-gemstone-results {
    .display-product-results {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (min-width: $desktop) {
  .find-your-gem.after-search-results {

    .find-gemstone-results {
      height: 80vh;
      padding: $find-gemstone-base-spacing * 3 7.5%;
      overflow-y: scroll;

      .display-product-results {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $find-gemstone-base-spacing * 6;
      }
    }
  }
}

@media screen and (min-width: $larger-desktop) {
  .find-your-gem.after-search-results {
    .find-gemstone-search {
      padding: 30% 20%;
    }

    .find-gemstone-results {
      .display-product-results {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}