/*
=========================
Find Gemstone General Styline
=========================
*/


/*
=========================
Find Gemstone Search Styling
=========================
*/


.find-gemstone-search {
  color: $brand-colour-evergreen;

  h1 {
    margin: 60px auto;
  }

  form {

    > div {

      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      margin: 10px;

      div {
        position: relative;
      }
    }

    input {
      margin-left: $find-gemstone-input-margin;

      background-color: transparent;
      border: none;
      border-bottom: 1px solid $brand-colour-bright-green;
      text-align: center;
    }
  }


  /*
  =========================
  Dropdown Styling
  =========================
  */
  .dropdown-position-holder {
    &:hover,
    &:active,
    &:focus {

      .find-gem-dropdown {
        display: block;
      }

      .find-tag-dropdown {
        display: flex;
        flex-flow: row wrap;
    
        li {
          margin: 2px;
          margin-right: 5px;
          padding: 0 5px;
          
          background-color: $nav-grey;
          border: 0px solid transparent;
          border-radius: 5px;
          font-size: 0.75em;
        }

        .selected-tag {
          background-color: $brand-colour-evergreen;
          color: white;
        }
      }
    }
  }

  .find-gem-dropdown {
    display: none;

    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: $find-gemstone-input-margin;
    
    width: 200px;
    padding: 10px;
    margin: 0;

    border: 1px solid $brand-colour-bright-green;
    border-top: 2px solid $brand-colour-bright-green;
    background-color: white;
  }

  

  button {
    display: block;
    width: 181px;
    margin: 60px auto;
  }
}

/*
=========================
Find Gemstone Results Styling
=========================
*/

.find-gemstone-results {
  h2 {
    text-align: center;
  }

  .display-product-results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $find-gemstone-base-spacing * 2;
  
    padding: $find-gemstone-base-spacing;
  }
}