/* =========================
      Search Result Page
   ========================= */

.search-results {
  h1.page-title {
    padding: $base-spacing * 5 0;
    margin: 0;
    

    border-bottom: 2px solid $brand-colour-evergreen;
    text-align: center;
  }
}

.search-result-container {
  padding: $base-spacing * 2 $base-spacing;

  color: $brand-colour-evergreen;

  h2 {
    margin: $base-spacing * 2 0;

    font-size: 1.5em;
  } 

  a {
    display: block;
    color: $brand-colour-evergreen;
    text-align: center;

    &:hover {
      color: #0d5468;
    }
  }

  .search-img img {
    width: 80%;
    margin: 0 auto;
  }

  .search-price {
    font-size: 1.25em;
  }
}

@media screen and (min-width: $tablet) {
  .search-results {
    h1.page-title {
      font-size: 2.5em;
    }
  }

  .search-result-container {
    a {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 
        "img info";

      .product-info {
        grid-area: info;
        padding: 0 $base-spacing * 3;

        text-align: left;

        h2 {
          margin-top: 0;
        }
      }

      .search-img {
        grid-area: img;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: $larger-tablet) {
  .search-results {
    h1.page-title {
      font-size: 3em;
    }
  }

  .search-result-container {
    a {
      grid-template-columns: 1fr 3fr;

      .product-info {
        font-size: 1.25em;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .search-result-container {
    a {
      grid-template-columns: 1fr 4fr;
    }
  }
}