// Media widths
$tablet: 600px;
$desktop: 1024px;

// Dimensions
$mobile-nav-height: 54px;
$menu-spacing: 10px;
$menu-border-size: 2px;

$find-gemstone-input-margin: 5px;

// Colours
$brand-colour-bright-green: #269a65; 
$brand-colour-green: #0c5535;
$brand-colour-evergreen: #062b35;

$nav-grey: #e1e1e1;