@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Light.eot');
  src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-Light.woff2') format('woff2'),
      url('fonts/Raleway-Light.woff') format('woff'),
      url('fonts/Raleway-Light.ttf') format('truetype'),
      url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.eot');
  src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-Medium.woff2') format('woff2'),
      url('fonts/Raleway-Medium.woff') format('woff'),
      url('fonts/Raleway-Medium.ttf') format('truetype'),
      url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/font/PlayfairDisplay-Bold.eot');
  src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
      url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
      url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
      url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-Regular.eot');
  src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
      url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
      url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
      url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


.container{
  height: calc(100vh - 10px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  grid-template-areas: "header header header" "main main aside" "footer footer footer"
}
header{
  grid-area: header;
  padding: 20px;
}
.row{
  width: 200px;
  padding-left: 30px;
}
.dropdown-list select{
  width: 190px;
  height: 25px;
  background: none;
  border: none;
  appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #0d5636;
  font:  'Raleway', sans-serif;
  text-indent: 5px;
}
.dropdown-list .select{
  position: relative;
  background: #fff;
  border-bottom: solid 2px #062b35;
  height: 25px;
  color: #0d5636;
  cursor: pointer;
}
.dropdown-list select:focus{
  outline: none !important;
}
.dropdown-list option{
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font:  'Raleway', sans-serif;
  color: #0d5636;
  border: solid 2px #269a65;
  width: 190px;
}
.dropdown-list .select::before {
  content: '';
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  pointer-events: none;
}
.dropdown-list .select::after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 10px 0;
  border-color: #062b35 transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}