.ourstory{
background-color: #062B35;
height: 1540px ;

.header{
    font-size: 3em;
}
.copy{
    display: grid;
    padding-right: 50px;       
    color:white;
    margin: 5%;
    h4{
        font-size: 2em;
        // line-height:0.2px;            
    }
    p{
        font-size: 1.3em;
        line-height: 32.2px;
        
    }

}

.skewedphotos{
    display: grid;
    width:100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-bottom: 9%;
    .photo1 {
        width: 200px;
        margin:0;    
        padding: 2px;
        box-sizing: border-box;
        flex-shrink: 0;
        background-color: #fff;
        transform: rotate(-10deg);
        border: 2px solid #062B35;
        // overflow: hidden;
        .photo1 img{
            transform: rotate(10deg);
            width: 100%;
          }
          .photo1 p{
            text-align: center;
            padding: 8px 4px;
          }
              .photo1img{
                transform: rotate(7deg);
              }  
            }
     .photo2 {        
        width: 200px;
        margin:0;    
        padding: 8px;
        box-sizing: border-box;
        background-color: #fff;
        transform: translate(0,50px) rotate(10deg);
        border: 2px solid #062B35;
        .photo2 img{
            width: 100%; 
          }
          .photo2 p{
            text-align: center;
            margin-left: 33%;
            padding: 8px 4px;
          }  
          .photo2img{
              transform: rotate(-9deg);
            }
          
        }
        
    } .wordfont{
        font-family: courier;
        color:#062B35;
    }

}

/* =============================
Media 
============================= */

@media screen and (min-width: 1024px) {
    .ourstory{  
        height: 1150px;

    }
    // .skewedphotos{
    //     display:flex;
    // }
    .skewedphotos{
        display: flex;
        width:100%;
        margin: auto;
        text-align: center;
        justify-content: center;
        margin-bottom: 9%;
    }
}


@media screen and (min-width: $tablet) {
    .ourstory{  
        height: 1350px;
       
    }
    .ourstory .skewedphotos .photo2  {     
        
        width: 290px;
    }
    .ourstory .skewedphotos .photo1 {  
           
        width: 290px;
    }
    
    .ourstory .copy{
        display: grid;
        padding-right: 50px;       
        color:white;
        margin: 5%;
        h4{
            font-size: 3em;
            line-height:0.2px;            
        }
        p{
            font-size: 1.7em;
            line-height: 32.2px;
        }
        
    }
    .ourstory .wordfont{
        font-family: courier;
        color:#062B35;
        font-size: 1.4em;
    }
    .skewedphotos{
        display:flex;
    }
}


