.footer {
  background-color: #062B35;
 
  .companyinfo{
    display: grid;
    grid-auto-rows: minmax(125px, auto);
    justify-items: center;
    
  }
  .companyinfo.logocontainer{
    display: grid;
    grid-auto-rows: minmax(125px, auto);
    justify-items: center;
    text-align: center;
    
  }
  .logocontainer, .textwidget{
    text-align: center;
  }
   .companyinfo > .sitecontent{
    text-align: center;
   
   }

  img.darialogo{
    max-height:100px ;
  }

  h3{
        color:white;
        font-family: Avenir;
        font-size: 1.2em;
          }
        a{
        text-decoration: none ;
        color: white;
        font-family: Avenir;
        font-weight: 100;
        font-size: .8em;
        
          }
  .subscription-sub-title, .subscription-title{
      color: white;
      
    }
    .social-media .social-media-title{
      color: white;
    }
    span.active {
      display : none;
      }
}



@media screen and (min-width: 1024px) {
  .logocontainer{
  width: 100%;
  justify-content: center;
  display: flex;
    }
    .contact{
      margin-top: 10%;
      margin-bottom: 10%;

    }
    .companyinfo > div{
      text-align: center;
      margin-top: 20%;
    }
  
  
}

@media screen and (min-width: 600px) {
  .companyinfo{
    justify-items: none;
    display: grid;
    grid-template-columns: repeat(4, 2fr)
    ;
  
  }
  .companyinfo > div{
    text-align: center;
    margin-top: 15%;
    font-size: 1.3em;
  }
}



  // @media screen and (min-width: 1024px) {
  //   .footer{
  //     background-color: #095f1c;
  //   }
  // }
  //   .companyinfo{
  //   display: flex;
  //   flex-flow: row nowrap;
  //   margin: 0 auto;
  //   }
  //   }
    
  
  // @media screen and (min-width: 600px) {
    
  //   }


//   background-color: #062B35;
//   margin-top: 5%;
//   width: 100%;
//   display: flex;
//   flex-flow: column nowrap;
//   margin: 0 auto;
//   // height:700px;
//   .companyinfo{
//     // margin-top:10%;
//     width: 100%;
//   }
//     h3{
//     color:white;
//     font-family: Avenir;
//     font-size: 1.2em;
//       }
//     a{
//     text-decoration: none ;
//     color: white;
//     font-family: Avenir;
//     font-weight: 100;
//     font-size: .8em;
//       }
//     a:hover{
//     color:red;
//     text-decoration:none;
//     cursor:pointer;
//       }
//     #darialogo,div#products,div#company,div#customers {
//     text-align: center;
//     }
    
// }
// .mailchimp{
//   // width: 0%;
 
//   #darialogo{
//     width: 20%;
//     justify-content: center;

//   }
// }

// .subscription {
  
//   text-align: center;
//    .subscription-title {
//       font-family: 'PlayfairDisplay';
//       font-size: 32px;
//       color: white;
//     }
//     .subscription-sub-title{
//       font-family: 'AvenirNext';
//       font-size: 21px;
//       color: white;
//     }
//     .notactive {
//       display: grid;
//     }
//     .active {
//       display : none;
//     }
    
//   }

// #darialogo{
// display: grid;

// width: 100%;
// }