.footer {
  background-color: #062B35;
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  height:700px;
  .companyinfo{
    margin-top:3%;
  }
    h3{
    color:white;
    font-family: Avenir;
    font-size: 1.2em;
      }
    a{
    text-decoration: none ;
    color: white;
    font-family: Avenir;
    font-weight: 100;
    font-size: .8em;
      }
    a:hover{
    color:red;
    text-decoration:none;
    cursor:pointer;
      }
    #darialogo,div#products,div#company,div#customers {
    text-align: center;
    }
}
#darialogo{
  background-image:url('../../images/DariaDay_logo-02 white.svg') ;
  background-repeat: no-repeat;
  background-size: 125px 175px;
}


@media screen and (min-width: 1024px) {
  .footer {
    height:300px;

    .companyinfo {
      display: flex;
      }
  }
}

@media screen and (min-width: 600px) {
  .footer {
    display: grid;
    }
}


