/*
=========================
Nav Bar Styling
=========================
*/
.site-header {

  position: relative;
  
  border-bottom: $menu-border-size solid $brand-colour-evergreen;

  .main-nav-content-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    justify-items: center;
    align-items: center;
  
    height: $mobile-nav-height;
    padding: $menu-spacing * 2 $menu-spacing * 1.5;
  }

  // Anchor links
  a {
    display: block;
    padding: $menu-spacing * 1.5 0;

    color: $brand-colour-evergreen;
    text-transform: uppercase;
  }

  .custom-logo-link {
    padding: 0;
  }
}

// Main nav
.main-navigation{
  justify-self: start;

  .menu-toggle {
    height: 100%;
    width: 50px;
  
    border: none;
    background-color: transparent;
    font-size: 2em;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  /*
  =========================
  Mobile-only Nav Styling
  =========================
  */
  ul.mobile-nav{
    z-index: 10;

    position: absolute;
    left: 0;
    top: $mobile-nav-height + $menu-spacing * 4 + $menu-border-size;

    width: 100vw;
    padding: 0 $menu-spacing;

    background-color: $nav-grey;

    a {
      padding: $menu-spacing * 1.5 0;
    }

    // Close mobile nav button
    .close-mobile-nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      button {
        padding: $menu-spacing * 1.5 $menu-spacing * 3 0;

        background-color: transparent;
        border: none;
      }

      img {
        width: 1em;
        height: 1em;
      }
    }

    > li {
      &:first-of-type {
        > a {
          padding: 0;
        }
      }

      &:not(:last-of-type) {
        border-bottom: $menu-border-size / 2 solid $brand-colour-evergreen;
      }
    }

    // For mobile-specific secondary menu
    .secondary-menu {
      section {
        a {
          padding: 0;
          padding-top: $menu-spacing * 1.5;
        }
      }
    }
  }
}

/*
=========================
Secondary Menu Styling
=========================
*/

.secondary-menu {

  background-color: $nav-grey;

  section {
    padding: $menu-spacing * 1.5 $menu-spacing * 2.5;

    h4 {
      margin: 0;
      color: $brand-colour-green;
    }

    ul {
      margin: 0;
      padding: 0;
    }
    
    a {
      color: $brand-colour-evergreen;
      text-transform: capitalize;
    }
  }

  .new-to-crystals {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    padding: $menu-spacing 0 $menu-spacing * 2;

    p {
      margin: 0;
      padding-left: $menu-spacing;
    }
  }
}

// Daria-Day Logo
.site-branding {
  height: 100%;

  a {
    height: 80%;
  }

  img {
    height: 100%;
  }
}

// Nav-bar misc
.nav-misc {
  justify-self: end;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .cart {
    padding: 0 $menu-spacing / 2;
  }

  .cart img {
    width: 25px;
    height: 25px;
  }
}

/*
=========================
Header Search Styling
=========================
*/
.header-search {
  .search-form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    padding: 5px;
  }

  .icon-search {
    padding: 0 5px;
  }

  .search-field {
    width: 0;
    border: none;
  }
}

// Mobile Search
.mobile-search {
  z-index: 5;
  box-sizing: border-box;
  position: absolute;

  width: 100%;
  padding: $menu-spacing * 3;

  background-color: $nav-grey;
  border-bottom: 2px solid $brand-colour-evergreen;

  .mobile-search-field {
    width: 100%;
    // height: 50px;

    background-color: $nav-grey;
    border: 0px solid transparent;
    font-size: 2em;
  }
}

// Hide Menu Toggle
.hide-menu {
  display: none;
}

/*
=========================
Breakpoints
=========================
*/
@media screen and (min-width: $tablet) {
  .nav-misc {
    .cart {
      padding: 0 $menu-spacing;
    }
  }
}

@media screen and (min-width: $desktop) {
  .site-header {
    .main-nav-content-wrapper {
      grid-template-columns: 3fr 1fr 3fr;

      padding: $menu-spacing * 2 $menu-spacing * 2.5;
    }
    
    .menu-toggle {
      display: none;
    }

    // Navigation
    .main-navigation {
      ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
  
        li {
          padding: 0 $menu-spacing;
        }
  
        a {
          display: inline-block;
  
          color: $brand-colour-evergreen;
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
  }

  // Secondary menu
  .secondary-menu {
    z-index: 10;
    position: absolute;

    width: 100%;

    border-bottom: 1px solid $brand-colour-evergreen; 

    .secondary-nav-content-wrapper {
      display: flex;
      flex-flow: row nowrap;

      margin: 0 auto;
      padding: $menu-spacing * 2 $menu-spacing * 2.5;
    }

    section {
      padding: 0 $menu-spacing * 3.5;

      &:first-of-type {
        padding-left: $menu-spacing;
      }
    }

    ul {
      padding: 0;
    }

    h4 {
      padding: $menu-spacing / 2 0;
    }

    li {
      padding: $menu-spacing / 2 0;
    }

    .by-collection {
      order: 1;
    }

    .new-to-crystals {
      order: 2;

      height: 50%;
      margin-left: auto;
      padding: $menu-spacing * 2;
    }
  }

  // Misc
  .nav-misc {
    .cart {
      padding: 0 $menu-spacing;
    }

    .cart img {
      width: 30px;
      height: 30px;
    }
  }

  // Search Bar
  .header-search {
    padding-left: $menu-spacing;

    .search-field {
      transition: width 1s;
    }

    .search-field.show-search {
      width: 150px;

      border-bottom: 2px solid $brand-colour-evergreen;
    }
  }
}