/* ====================================================================
      Social Media  
    ===================================================================== */

.social-media-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  width: 80%;
  margin: 0 auto;

  img {
    width: 40px;
  }
}

@media screen and (min-width: $tablet) {
  .social-media-icons {
    img {
      width: 50px;
    }
  }
}

/* ====================================================================
      MailChimp  
    ===================================================================== */

.subscription {

  .mc4wp-form-fields {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    grid-template-areas: 
      "label label"
      "input button";

    width: 100%;
    
    .subscription-sub-title {
      grid-area: label;

      color: white;
      font-family: 'Playfair Display', serif;
      font-size: 1.5em;
    }

    .text-input {
      grid-area: input;

      width: 100%;
      padding: $base-spacing;

      color: $brand-colour-evergreen;
    }

    .signupbtn {
      grid-area: button;
      justify-self: start;

      width: 100%;
      
      background-color: $brand-colour-bright-green;
      border: 0px solid transparent;
      color: white;
      font-family: 'Avenir LT Std', sans-serif;
      font-size: 0.9em;
    }
  }
}


//     .socialmedia-mailchimp{
//       display: flex;
//       flex-flow: column;
//       padding: 20px;
//     }
//     @media screen and (min-width: $tablet){
//       .socialmedia-mailchimp{
//         flex-flow: row;
//         justify-content: space-evenly;
//         padding: 0 20px;
//       }
//     }
//     /* =========================
//           Subscription Section
//         ========================= */
//     .subscription {
//         text-align: center;
    
//          .subscription-title {
//             font-family: 'Playfair Display';
//             font-size: 30px;
//             color: $brand-colour-evergreen;
//           }
//           .subscription-sub-title{
//             font-family: 'Avenir LT Std';
//             font-size: 20px;
//             color: $brand-colour-evergreen;
//             line-height: 30px;
//           }
//           .text-input{
//             width: 200px;
//             height: 36px;
//             padding: 1px 10px;
//             border: solid 1px $brand-colour-bright-green;
//             background-color: #ffffff;
//             padding-left: -2px;
//           }
//           .signupbtn {
//             font-family: 'Avenir LT Std';
//             width: 112px;
//             height: 40px;
//             color: #fff;
//             margin-left: -10px;
//             cursor: pointer;
//             border: solid 1px $brand-colour-bright-green;
//             background-color: $brand-colour-bright-green;
//           }
//           .signupbtn:hover{
//             width: 113px;
//             height: 40px;
//           }
//     }
//     @media screen and (min-width: $desktop){
//       .subscription{
//         .subscription-title{
//           font-size: 40px;
//         }
//         .subscription-sub-title{
//           font-size: 25px;
//           line-height: 32px;
//         }
//         .text-input{
//           width: 220px;
//           height: 41px;
//         }
//         .signupbtn {
//           font-size: 18px;
//           width: 118px;
//           height: 45px;
//           border-bottom: 2.5px solid $brand-colour-bright-green;
//         }
//         .signupbtn:hover{
//           width: 118px;
//           height: 45px;
//         }
//       }
//     }
//     /* =========================
//           Social Media Section
//        ========================= */
//     .social-media{
//       text-align: center;
//       .social-media-title {
//         font-family: 'Playfair Display';
//         font-size: 30px;
//         color: $brand-colour-evergreen;
//       }
//       .social-media-icons img{
//         width: 50px;
//         height: 50px;
//         padding: 1px 10px;
//       }
//       .social-media-icons img:hover{
//         width: 51px;
//         height: 51px;
//       }
//     }
//     @media screen and (min-width: $desktop){
//       .social-media{
//         .social-media-title {
//           font-size: 40px;
//         }
//         .social-media-icons img{
//           width: 60px;
//           height: 60px;
//         }
//         .social-media-icons img:hover{
//           width: 61px;
//           height: 61px;
//         }
//       }
//     }