@font-face {
  font-family: 'Avenir LT Book';
  src: url('../../fonts/AvenirLTStd-Book.eot');
  src: url('../../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/AvenirLTStd-Book.woff2') format('woff2'),
      url('../../fonts/AvenirLTStd-Book.woff') format('woff'),
      url('../../fonts/AvenirLTStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../../fonts/PlayfairDisplay-Regular.eot');
  src: url('../../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
      url('../../fonts/PlayfairDisplay-Regular.woff') format('woff'),
      url('../../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../../fonts/AvenirLTStd-Medium.eot');
  src: url('../../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
      url('../../fonts/AvenirLTStd-Medium.woff') format('woff'),
      url('../../fonts/AvenirLTStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../../fonts/PlayfairDisplay-Bold.eot');
  src: url('../../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
      url('../../fonts/PlayfairDisplay-Bold.woff') format('woff'),
      url('../../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}