
.carousel {
  box-sizing: border-box; 

  margin-top:5%;
  background: #EEE;
  overflow: hidden;
  
}
.flickity-viewport{
  height: 350px ;
}

.carousel-cell {
  width: 66%;
  height: 380px ;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  // counter-increment: carousel-cell;
  overflow: hidden;

  .quote-title {
    font-size: 1.3em;
    margin: 7%;
    text-align: center;
  }

  .quote-body {
    font-size:.9em;
  }
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.flickity-button {
  // display: none;
  width: 5% !important;
  height: 5%!important;
}

.flickity-button.flickity-prev-next-button.previous {
  background-color: #269A65;    
}

.flickity-button.flickity-prev-next-button.next {
  background-color: #269A65;
}

@media screen and (min-width: 1024px) {
  .carousel-cell {
    .quote-title {
      font-size:3em;
    }
    
    .quote-body {
      font-size:2em;
    }
  }
}

@media screen and (min-width: 600px) {
  .carousel-cell {
    .quote-title {
      font-size:2em;
    }
    
    .quote-body {
      font-size:1em;
    }
  }
}