

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  margin-top:5%;
  background: #EEE;
  overflow: hidden;
  
}
.flickity-viewport{
  height: 350px ;
}

.carousel-cell {
  width: 66%;
  height: 380px ;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  // counter-increment: carousel-cell;
  overflow: hidden;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.flickity-button{
    // display: none;
    width: 5% !important;
    height: 5%!important;
}

.flickity-button.flickity-prev-next-button.previous{
     background-color: #269A65;
    
}

.flickity-button.flickity-prev-next-button.next{
    background-color: #269A65;
  }