.slider {
    // height: 300px;
    text-align: center;
    margin-top: 2.5%;
    
  }
 
    ul {
      width: 70%;
      scroll-behavior: smooth;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      text-align: center;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      padding-top: 2%;
    }

  ul {
    padding: 0;
  }

  ul::-webkit-scrollbar {
    display: none;
  }

  li {
    list-style: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 20%;
    margin-left: 8.5%;
    margin-right: 1.5%;
    filter: grayscale(100%);
    transition: 0.2s;
  }

  li {
    width: 470px;

    &:hover {
      transition: 0.2s;
      filter: grayscale(0);
    }
  }

  .link {
    text-decoration: none;
  }

  .title {
    vertical-align: middle;
  }

  #bracelets, #earrings,#necklaces, #energy {
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 200px;
  height: 200px;  
  margin-left: 5%;
  }

}

.container{
  display: flex;
  width: 100%;
  justify-content: center;
}
.btn{
	height: 10px;
	width: 10px;
	margin: 10px;
	border-radius: 20%;
	cursor: pointer;
}
.btn1{
	background: orange;
	position: relative;
	overflow: hidden;
}
.btn2{
	background: green;
	position: relative;
	overflow: hidden;
}

.btn3{
	background: red;
	position: relative;
	overflow: hidden;
}
.btn4{
	background: blue;
	position: relative;
	overflow: hidden;
}



@media screen and (min-width: 1024px) {
  .container{
    display: none;
   
  }
}